body {
  font-family: 'Rubik', sans-serif;
  background-color: #BF7256;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #d99771;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.jumbotron {
  background-color: #BF7256;
}

.btn-success {
  background-color: #f2e9d8;
  border-color:#f2e9d8;
  color: #022873;
}

.btn-success:hover {
  background-color: #022873;
  border-color:#022873;
  color: #f2e9d8;
}

.btn-success:active {
  background-color: #022873;
  border-color:#022873;
  color: #f2e9d8;
}

.navbar-brand .navbar-light {
  color: #734136

}